@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial;
}

.padding {
  padding: 18px 10%;
}

.hero {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  padding: 10px 0;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 24px;
}

.link {
  flex: 0 1 auto;
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.link:hover {
  color: #f9faf8;
}

.link:active {
  transform: scale(0.95);
}

.hero-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 24px;
  padding: 60px 0;
}

.hero-content, .hero-img {
  flex: 1 1 300px;
  display: flex;
  max-width: 600px;
  min-height: 275px;
}

.hero-img {
  justify-content: center;
  align-items: center;
  background-color: grey;
}

.hero-content {
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.hero-title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-description {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 10px;
}

.hero-button {
  color: #f9faf8;
  background-color: #3882f6;
  border: none;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 28px;
  border-radius: 10px;
  width: 120px;
}

.hero-button:hover {
  background-color: #2563eb;
  cursor: pointer;
}

.hero-button:active {
  background-color: #1d4ed8;
  transform: scale(0.95);
}

/* info */

.info {
  min-height: 450px;
  display: flex;
  flex-direction: column;
}

.info-title {
  text-align: center;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  margin-bottom: 24px;
}

.caption {
  text-align: center;
}

.fig-container, figure {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fig-container {
  flex-wrap: wrap;
  flex: 1;
  gap: 50px;
}

figure {
  flex-direction: column;
  flex: 0 1 200px;
  color: #3f3f3f;
  font-size: 18px;
}

.fig-img-container {
  height: 160px;
  width: 160px;
  border: 3px solid #3882f6;
  border-radius: 15px;
  margin-bottom: 6px;
}

/* Quote */

.quote {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #e5e7eb;
}

.quote-text {
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
  font-weight: 300;
}

.quote-author {
  color: #1f2937;
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  text-align: right;
}

.quote-text, .quote-author {
  max-width: 1000px;
}

/* CTA */

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  color: #f9faf8;
}

.cta-container {
  flex: 1;
  background-color: #3882f6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  max-width: 1500px;
}

.cta-inner-container {
  flex: 1;
  flex-wrap: wrap;
  min-height: 150px;
  padding: 10px 40px;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
}

.cta-title {
  font-size: 26px;
}

.cta-description {
  color: #e5e7eb;
  font-size: 18px;
}

.cta-button {
  color: #f9faf8;
  border: 2px solid #f9faf8;
  border-radius: 5px;
  padding: 6px 32px;
  font-size: 22px;
  background-color: transparent;
}

.cta-button:hover {
  cursor: pointer;
}

.cta-button:active {
  background-color: #f9faf8;
  color: #3882f6;
  transform: scale(0.95);
}